body {
    margin: 0;
    font-family: "Raleway";
    text-align: center;
    background-color: rgb(214, 204, 204);
}

img {
    width: 40%;
    margin: 5px;
    border: 3px solid black;
    border-radius: 20px;
    transition: 0.5s ease;
    padding: 10px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.5);
}

nav {
    background-color: rgb(22, 51, 57);
    display: inline-block;
    padding: 2rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 50px;
    padding: 32px;
    border-radius: 10px;
    position: sticky;
}

nav a:hover {
    background-color: rgb(72, 116, 116);
    transition: 0.8s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

#title {
    font-size: 50px;
    background-color: rgb(103, 125, 125);
    padding: 50px;
    margin: 0;
}

article h2 {
    background-color: #222;
    color: white;
    border-radius: 0.5rem;
    border: 3px solid black;
}

article {
    transition: box-shadow 0.5s ease;
    width: 400px;
    background-color: rgb(48, 51, 50);
    border-radius: 0.75rem;
    margin: 0 auto;
    cursor: pointer;
}

article div {
    color: white;
}

article:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.section div {
    text-align: justify;
}

.experiences div {
    text-align: justify;
}

article #goals div {
    text-align: justify;
}

ul li {
    list-style-type: circle;
    padding-left: 0;
    text-align: justify;
    color: white;
}

table,
th,
td {
    border: 3px solid black;
    font-size: 20px;
}

table th {
    background-color: rgb(197, 184, 167);
}

table td {
    background-color: rgb(74, 97, 188);
    transition: 0.5s ease;
    color: white;
}

table td:hover {
    background-color: rgb(31, 25, 142);
}

footer {
    background-color: rgb(22, 51, 57);
    padding: 40px;
    text-align: justify;
}

.footer {
    float: right;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: blue;
    transition: 0.5s ease;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
}

footer div {
    color: white;
}